## SHELL #######################################################################

color true
--no-node-version-check true

## PACKAGES ####################################################################

workspaces-experimental true
# flat true

link-duplicates true
link-folder "node_modules/.packages"

# ignore-scripts false
# ignore-optional false
ignore-engines true

save-prefix "^"

registry "https://registry.yarnpkg.com"
strict-ssl true

# INIT #########################################################################

init-author-name "Saleh Abdel Motaal"
init-author-email "saleh@grasppe.com"
init-version "0.0.0"
init-license "MIT"
init-scope "@smotaal"

# VERSION ######################################################################

version-tag-prefix "v"
version-git-tag "true"
version-git-sign "false"
version-git-message "v%s"

################################################################################
